<h1>Add Courses</h1>

<form action="/add-courses" method="POST">
    <div class="input-field">
        <input id="title" type="text" class="validate" name="name" required>
        <label for="title">Course name</label>
        <span class="helper-text" data-error="Empty course name"></span>
    </div>

    <div class="input-field">
        <input id="price" type="number" class="validate" name="price" required>
        <label for="price">Course price</label>
        <span class="helper-text" data-error="Empty course price"></span>
    </div>

    <div class="input-field">
        <input id="img" type="text" class="validate" name="img">
        <label for="img">Course image</label>
        <span class="helper-text" data-error="Empty image link"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add course</button>
</form>